body {
  background: #c0392b;
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);
  background: linear-gradient(to right, #8e44ad, #c0392b);
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.clearfix {
  overflow: auto;
}
.App {
  margin: 10% auto;
}
.btn-sub {
  width: fit-content;
}
.form-container {
  width: 40%;
  margin: 20px auto;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: #fff;
}
.form-control {
  margin: 10px;
  width: 90%;
}
@media (max-width: 650px) {
  .form-container {
    width: 90%;
  }
}
@media (min-width: 651px) and (max-width: 1000px) {
  .form-container {
    width: 60%;
  }
}
